<html>
  <head>
    <style>
       /* Set the size of the div element that contains the map */
      #map {
        height: 1000px;  /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */
       }
       
       #btn_submit {
             position:fixed;background:#4FC9DE;height:55px;left:0;bottom:0;
        text-align:center;border-top:1px solid #ddd;max-width:500px;margin:0 auto;bottom: 0; left: 0; right: 0;
       }
    </style>
    <script>
      $(function(){
        $('#menu').remove();
      });
    </script>
  </head>
  <body>
    <div id="wrap" style=" min-height: 700px;">
      <!--The div element for the map -->
      <div id="map"></div>
      
      <form method="post" name="writeform" action="/active/createFavorites"> 
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <input type="hidden" id="y" name="y" value="">
        <input type="hidden" id="x" name="x" value="">
        <div id="btn_submit" style="cursor: pointer;">저장</div>
      </form> 
    </div>
    
    <script>
      var map;
      var markers = [];
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -34.397, lng: 150.644},
          zoom: 12,
          mapTypeId: google.maps.MapTypeId.ROADMAP,
          panControl: true,
          zoomControl: false,
          mapTypeControl: false,
          scaleControl: false,
          streetViewControl: false,
          overviewMapControl: false
        });
        infoWindow = new google.maps.InfoWindow;

        // Try HTML5 geolocation.
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };

            //infoWindow.setPosition(pos);
            //infoWindow.setContent('Location found.');
            //infoWindow.open(map);
            var image = 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png';
            var marker = new google.maps.Marker({position: pos, map: map, icon: image});
            map.setCenter(pos);
          }, function() {
            handleLocationError(true, infoWindow, map.getCenter());
          });
        } else {
          // Browser doesn't support Geolocation
          handleLocationError(false, infoWindow, map.getCenter());
        }
        
        google.maps.event.addListener(map, 'click', function(event) {
          deleteMarkers();
          placeMarker(event.latLng);
          
          var y = event.latLng.lat();
          var x = event.latLng.lng();
          
          var f = document.writeform; 
          f.y.value = y;
          f.x.value = x;
        });
      }
      
      function placeMarker(location) {
        var marker = new google.maps.Marker({
            position: location, 
            map: map
        });
        
        markers.push(marker);
        map.setCenter(location);
      }
      
      function deleteMarkers() {
        clearMarkers();
        markers = [];
      }
      
      function clearMarkers() {
        setMapOnAll(null);
      }
      
      function setMapOnAll(map) {
        for (var i = 0; i < markers.length; i++) {
          markers[i].setMap(map);
        }
      }
      
      $(function(){
        $('#btn_submit').on('click', function(){
          if($('#y').val() == "" && $('#x').val() == "") {
            alert("위치를 지정해주세요.");
            return;
          }
          
          var f = document.writeform; 
          f.submit(); 
        });
      });
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA7hFvqWN9sgQerWvWN7UTkRYI2yfKtlnk&callback=initMap">
    </script>
    
    
  </body>
</html>