@charset "utf-8";
@import url('/css/notosanskr.css');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');


html {overflow-y:scroll}
body {margin:0;padding:0;font-size:12pt;font-family:'Noto Sans KR', sans-serif;width:100%;height:100%;font-weight:400;background:#f9f9f9;text-align:center;}
html, h1, h2, h3, h4, h5, h6, form, fieldset, img {margin:0;padding:0;border:0;font-family:'Noto Sans KR', sans-serif;}

h1,h2,h3,h4,h5 {font-weight:500;}
h1 {font-size:25pt;}
h2 {font-size:20pt;}
h3 {font-size:18pt;}
h4 {font-size:15pt;}
h5 {font-size:12pt;}
h6 {font-size:10pt;} 
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block}

legend {position:absolute;margin:0;padding:0;font-size:0;line-height:0;text-indent:-9999em;overflow:hidden}
label, input, button, select, img {vertical-align:middle}
input, button {margin:0;padding:0;font-family:'Noto Sans KR', sans-serif;font-size:1em}
button {cursor:pointer}

textarea, select {font-family:'Noto Sans KR', sans-serif;font-size:1em}
select {margin:0}
p {margin:0;padding:0;word-break:break-all}
hr {display:none}
pre {overflow-x:scroll;font-size:1.1em}
a:link, a:visited {color:#000;text-decoration:none}
a:hover, a:focus, a:active {color:#000;}

a,div,p,span,input,button,select,ul,li {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
img {max-width:100%;}

div, ul, li {display:inline-block;*display:inline;}

.white {color:#fff !important;}

.mg-top-20 {margin-top:20px;}
.mg-top-30 {margin-top:30px;}
.center {text-align:center}
.left {text-align:left;}

/*form*/

button {border-radius:0;-webkit-appearance:none}
input[type=submit] {-webkit-appearance:none;}

.frm_underline {border:0;border-bottom:1px solid #fff;background:transparent;
    width:100%;height:50px;line-height:50px;margin-bottom:8px;color:#fff !important;} 

.btn_default {background:#a9d8d5;color:#fff;border:0;}
.btn_default:hover {background:#80bbb7;}

.btn_gray {background:#f7f7f7;color:#aaa;border-radius:50px;}
.btn_white{background:rgba(255,255,255,0.3);border-radius:50px;border:0;color:#fff;}

.frm_lg {padding:0 30px;height:50px;line-height:50px;}

.btn_lg {width:100%;height:50px;line-height:50px;}
.btn_sm {padding:3px 10px;font-size:10pt !important;}




#top_title {position:absolute;width:100%;height:60px;line-height:60px;left:0;top:0;font-weight:500;
    font-size:15pt;border-bottom:1px solid #fff;letter-spacing:0.5pt;}
#top_title a {position:absolute;left:20px;top:0px;padding:0;margin:0;color:#fff;}


#top_title2 {position:relative;float:left;width:100%;height:60px;line-height:60px;background:#85d5d5;font-weight:500;font-size:15pt;color:#fff;padding:0 20px;}


#wrap {position:relative;width:100%;max-width:500px;margin:0 auto;background:#fff;text-align:left;
    padding-bottom:50px;min-height:800px}

.info {font-size:10pt;}

/*로그인*/

.index {background:#85d5d5 !important;text-align:center !important;color:#fff;padding:150px 0;}
.index .logo {max-width:280px;margin:0 auto 10px auto;}


.form_wrap {position:relative;width:90%;padding:0;clear:both;}
.form_mg {margin:80px auto;}
.form_mg_30 {margin:30px auto;}

.form_wrap h2 {margin:20px 0;}

.form_wrap input::placeholder {color: #def0f0;}
  
.field {position:relative;width:100%;}
.field span {position:absolute;left:0;top:0;line-height:50px;width:50px;text-align:center;font-size:13pt;}
.frm_fa {padding-left:50px;}


.frm_default {position:relative;border:0;border-bottom:1px solid #fff;background:transparent;
width:100%;height:50px;line-height:50px;margin-bottom:8px;color:#fff !important;}

.form_wrap.gray .frm_default {border:1px solid #ddd;color:#888 !important;padding-left:10px;}
.form_wrap.gray input::placeholder {color: #888;}
  
  .form_wrap.gray label {position:relative;width:100%;float:left;text-align:left;font-weight:500;color:#444;margin:10px 0 5px 0;}
  
.label_email {
  position:relative;
  width:50px !important;height:50px;
  font-family:'FontAwesome';
  content: "\f003";
  font-size:25pt;
  border:1px solid red;
  font-size:0;
}

.frm_email {padding-left:35px;}


.agree {position:relative;float:left;width:100%;padding:0;margin:0;}
.agree li {position:relative;width:100%;list-style:none;padding:0;margin:0;text-align:left;}
.agree li a {position:absolute;top:0;right:0;font-size:9pt !important;}
.agree li:nth-child(2),
.agree li:nth-child(3) {padding-left:20px;margin-top:5px;}

#sns_login_wrap {position:relative;width:60%;margin:0 auto;display:inline-block;*display:inline;}

.sns_login {position:relative;float:left;width:100%;height:50px;line-height:50px;color:#fff;
border:0;border-radius:3px;padding-left:30px ;
    margin-bottom:10px;color:#fff;}
.sns_login.kakao {background:url('/img/icon_kakao.png') #f6df4b no-repeat 40px center;
    color:#371f1f !important;background-size:25px auto;}
.sns_login.naver {background:url('/img/icon_naver.png') #1ec900 no-repeat 40px center;
    background-size:20px auto;color:#fff !important;}
.sns_login.email {background:url('/img/icon_email.png') #fff no-repeat 40px center;
    background-size:20px auto;border:1px solid #ddd;color:#888; }

#maparea {position:relative;width:100%;}


/*검색창*/
#sch {position:absolute;width:100%;left:0;top:0;padding:10px;z-index:999;}
#sch input[type=text],
#sch button {box-shadow:0px 3px 5px rgba(0,0,0,0.3);}

#sch input[type=text] {width:calc(100% - 55px);border:1px solid #91d0cd;background:#fff;height:45px;line-height:45px;border-radius:3px;padding-left:50px;background:url('/img/icon_search.png') #fff no-repeat 15px center;background-size:20px auto;}
#sch span {float:right;border:1px solid #91d0cd;background:#fff;width:45px;height:45px;line-height:45px;border-radius:3px;background:url('/img/icon_mylocation.png') #fff no-repeat center center;background-size:20px auto;}


/*즐찾장소버튼*/
#fav {position:absolute;top:65px;right:10px;width:45px}

.btn_fav2 {border:1px solid #91d0cd;width:45px;height:45px;line-height:45px;border-radius:3px;
background:url('/img/icon_fav_star.png') #fff no-repeat center center;background-size:20px auto;margin-bottom:10px;
box-shadow:0px 3px 5px rgba(0,0,0,0.3);}



#container {position:relative;width:100%;padding:15px;}


/*이 알바는 어때요*/
.recm {}
.recm h5 {display:inline-block;*display:inline;float:left;padding:0;margin:0;}
.recm .fa-sort-amount-down {float:right;font-size:12pt;color:#b0b0b0;margin-top:8px;}
        
.work_list {position:relative;padding:0;margin:15px 0;display:inline-block;*display:inline;}
.work_list > li {position:relative;padding:15px;margin:0;width:100%;list-style:none;border:1px solid #82d7d2;border-radius:5px;box-shadow:3px 3px 3px #ddf4f3;margin-bottom:15px;}
.work_list > li:hover {cursor:pointer;box-shadow:3px 3px 3px #cde9e8;background:#f1fffe;}

.work_list > li section {position:relative;float:left;width:100%;border-bottom:1px solid #ddd;padding-bottom:10px;}

.work_list .img {position:relative;float:left;background:#ddd;width:60px;height:60px;border-radius:50%;overflow:hidden;}
.work_list .img img {position:absolute;left:0;top:0;min-height:100%;width:auto !important;}
.work_list .info {float:left;width:100%;max-width:300px;padding:5px 0 0 15px;}
.work_list .info .title {font-size:13pt;font-weight:500;width:100%;margin-bottom:2px;}
.work_list .info .title span {margin-left:8px;font-weight:400;font-size:10pt;color:#8a8a8a}

.work_list .info .title span.loc:before {position:absolute;content:"|";left:0;top:-1px;}
.work_list .info .title span.loc {position:relative;background:url('/img/icon_location.png') 12px center no-repeat;background-size:10px auto;padding-left:27px;}

a.tag {color:#40ada7;padding:0 3px;}    
a.tag:hover {background:#e9f7ff;border-radius:3px;}    

.work_list .info2 {position:relative;width:100%;padding:10px 0 0 0;margin:0px 0 0 75px;}
.work_list .info2 li {padding:0 0 0 25px;margin:0;width:100%;list-style:none;display:inline-block;*display:inline;color:#8a8a8a;font-size:10pt;}
.work_list .info2 li:first-child {background:url('/img/icon_cal.png') no-repeat left center;background-size:15px auto;}
.work_list .info2 li:nth-child(2) {background:url('/img/icon_time.png') no-repeat left center;background-size:15px auto;}
.work_list .info2 li:nth-child(3) {background:url('/img/icon_pay.png') no-repeat left center;background-size:15px auto;}

span.icon-blue {background:#004eb7;color:#fff;font-size:8.5pt;border-radius:8px;padding:0 5px;}

.icon_fav {position:absolute;top:0px;right:5px;}
.icon_fav i {color:#b0b0b0;}
.btn_apply {position:absolute;bottom:15px;right:15px;background:linear-gradient( to right, #82d7d2, #77c2ec);color:#fff !important;font-size:12pt;
font-weight:500;padding:10px 20px 10px 30px;border-radius:50px;}
.btn_apply i {margin-left:10px;}



#graybar {position:relative;width:100%;float:left;background:#f9f9f9;height:8px}


/*하단 메뉴*/
#menu {position:fixed;background:#f5f5f5;width:100%;height:70px;text-align:center;border-top:1px solid #ddd;left: 0;bottom: 0;}
#menu ul {position:relative;width:100%;max-width:500px;margin:0 auto;padding:0;}

#menu ul li {float:left;width:20%;height:55px;}
#menu ul li:first-child {background:url('/img/icon_menu_home.png') no-repeat center center;background-size:30px auto;}
#menu ul li:nth-child(2) {background:url('/img/icon_menu_fav.png') no-repeat center center;background-size:30px auto;}
#menu ul li:nth-child(3) {}
#menu ul li:nth-child(3) div {width:90px;height:90px;border-radius:50%;background:url('/img/icon_menu_location.png') #82d7d2 no-repeat center center;
background-size:30px auto;margin-top:-30px;}
#menu ul li:nth-child(4) {background:url('/img/icon_menu_list.png') no-repeat center center;background-size:30px auto;}
#menu ul li:nth-child(5) {background:url('/img/icon_menu_mypage.png') no-repeat center center;background-size:30px auto;}

#menu ul li:first-child.on {background:url('/img/icon_menu_home_on.png') no-repeat center center;background-size:30px auto;}
#menu ul li:nth-child(2).on {background:url('/img/icon_menu_fav_on.png') no-repeat center center;background-size:30px auto;}
#menu ul li:nth-child(4).on {background:url('/img/icon_menu_list_on.png') no-repeat center center;background-size:30px auto;}
#menu ul li:nth-child(5).on {background:url('/img/icon_menu_mypage.png') no-repeat center center;background-size:30px auto;}



/*내역페이지*/


#status {position:relative;float:left;width:100%;margin:0;padding:20px;}
#status li {float:left;width:50%;text-align:right;font-size:13pt;font-weight:500;padding:15px;margin:0;color:#333;}
#status li span {color:#83d7d3;font-size:11pt;clear:both;}
#status li:first-child {background:url('/img/status_icon1.png') no-repeat 10px center;background-size:35px auto;border-right:1px solid #ddd;}
#status li:nth-child(2) {background:url('/img/status_icon2.png') no-repeat 10px center;background-size:35px auto;}


ul.tabs {position:relative;width: 100%;color:#8a8a8a; margin: 0;padding: 0;}
ul.tabs li {float: left;text-align:center; cursor: pointer;width:50%; padding: 0; line-height: 55px; border:0; overflow: hidden; position: relative;border-bottom:2px solid #ddd;}
ul.tabs li.active {border-bottom:2px solid #82d7d2;color:#82d7d2;font-weight:bold;}
ul.tabs li div {position:relative;width:23px;height:23px;background:#8a8a8a;color:#fff;border-radius:50%;line-height:23px;font-size:10pt;text-align:center;}

ul.tabs li.active div {background:#82d7d2;}

.tab_container { width:100%; }
.tab_content { width:100% }


/*마이페이지 */
#profile {position:relative;width:100%;background:#85d5d5;color:#fff;padding:30px;}

#profile .profile_thumb {position:relative;width:85px;height:85px;}
#profile .img {width:85px;height:85px;border-radius:50%;overflow:hidden;}
#profile .btn_upload {position:absolute;z-index:999;bottom:0px;right:0px;color:#fff;text-align:center;background:#626262;width:30px;height:30px;border:2px solid #fff;border-radius:50%;}

#profile .pull-right {padding-left:20px;}

.name {font-size:15pt;}
.certi {border:1px solid #fffa7f;color:#fffa7f;padding:1px 5px;border-radius:20px;}

.btn_modify {border:0;position:absolute;right:20px;top:40px;width:30px;height:30px;background:url('/img/icon_setting.png') no-repeat center center; background-size:30px auto;}


/*메뉴리스트 */

#list_menu {}
#list_menu ul {position:relative;float:left;width:100%;padding:0;margin:0;}
#list_menu li {position:relative;float:left;width:100% !important;height:55px;line-height:55px;
    color:#333;border-bottom:1px solid #ddd;padding:0 0 0 30px;}
    
#list_menu li.arrow {background:url('/img/icon_arrow.png') no-repeat 95% center;background-size:10px auto;}